@font-face {
  font-family: 'Aesthetic';
  src: url('../assets/Aesthetic-Regular.woff2') format('woff2'),
    url('../assets/Aesthetic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* --------COLOR STYLE GUIDE-------- */
:root {
  --bg-color: #f9f4ef;
  --primary-color: #716040;
  --secondary-color: #f25042;
}

/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

html, body {
  height: 100%;
}

body {
  color: var(--primary-color);
  background: var(--bg-color);
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: neue-haas-unica, sans-serif;
}

body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  opacity: 0.02;
  z-index: 1500;
  pointer-events: none;
  background: url(../assets/noise.gif);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1 {
  font-family: 'Aesthetic';
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .main-container {
  width: 94%;
  margin: 0 auto;
}

.divider {
  width: 100%;
  height: 2px;
  background: var(--primary-color);
}

.whitespace {
  width: 100%;
  height: 80px;
}

.main-cursor {
  z-index: 1000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid #fbdce2;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

.secondary-cursor {
  z-index: 10000;
  pointer-events: none;
  width: 20px;
  height: 20px;
  transform: translate3d(0, 0, 0);
  position: fixed;
  background-color: #fbdce2;
  border-radius: 50%;
  mix-blend-mode: difference;
}
