.navbar .navbar-container {
  display: flex;
  padding: 12px 0;
  font-size: 1.2rem;
  justify-content: space-between;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  z-index: 3000;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links span {
  cursor: pointer;
}

@media(max-width: 600px) {
  .navbar .navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .logo {
    display: none;
  }
  
}