.navbar .navbar-container {
  display: flex;
  padding: 12px 0;
  font-size: 1rem;
  justify-content: center;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  z-index: 3000;
}

.nav-links {
  display: flex;
  gap: 100px;
}

.nav-links span:hover {
  cursor: pointer;
  font-style: italic;
}

@media (max-width: 600px) {
  .navbar .navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .nav-links {
    gap: 20px;
  }

  .logo {
    display: none;
  }
}
